body {
    font-family: Arial, sans-serif;
    padding: 0 20px;
  }
.cat-info img {
    position: fixed;
    top: 80px;
    left: 30;
}
  
    .cat-info {
    margin-left: 35%; 
}
  
img {
    max-width: 30%;
}

.temperament::first-word {
    content: "Temperament: ";
    font-weight: bold;
}
  
  